<div class="row">
  <div class="col-6">
    <% if @collection.photos.attached? %>
      <%= cl_image_tag @collection.photos[0].key, crop: :fill, width: 638, height: 370 %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1453227588063-bb302b62f50b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" width="638" height="370" alt="">
    <% end %>
  </div>
  <div class="col-6">
    <div class="row" style="margin-top: 0; padding: 0; background: none">
      <% if @collection.photos.attached? %>
        <% @collection.photos[1..-1].each do |photo| %>
          <div class="col-6"><%=cl_image_tag photo.key, crop: :fill, width: 318, height: 185 %></div>
        <% end %>
      <% else %>
      <div class="col-6">
        <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2645&q=80" width="318" height="185" alt="">
      </div>
      <div class="col-6">
        <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2645&q=80" width="318" height="185" alt="">
      </div>
      <div class="col-6">
        <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2645&q=80" width="318" height="185" alt="">
      </div>
      <div class="col-6">
        <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2645&q=80" width="318" height="185" alt="">
      </div>
      <% end %>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="d-flex border-bottom justify-content-between">
        <div>
          <h2 class="header"><%= @collection.title %></h2>
          <h5 class="header"><%= @collection.address.split(" ")[3] %></h5>
        </div>
        <div class="d-flex flex-column align-items-center">
          <% if @collection.user.photo.attached? %>
            <%=cl_image_tag @collection.user.photo.key, crop: :fill, width: 638, height: 370, class: "avatar" %>
          <% else %>
            <i class="fas fa-user" style="font-size: 30px"></i>
          <% end %>
          <%= @collection.user.email %>
        </div>
      </div>
      <div><p><%= @collection.description %></p></div>
      <div>
        <% if @collection.reviews.blank? %>
          Be the first to leave a review for <%= @collection.title %>
        <% else %>
          <% @collection.reviews.each do |review| %>
            <div class="card-product">
              <div class="d-flex">
                <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png" class="avatar" />
                <div class="ml-3">
                  <p class="mb-0"><%= review.booking.user.email %></p>
                  <p class="mb-0"><%= review.created_at.strftime("%B %Y") %></p>
                </div>
              </div>
              <div class="card-product-infos">
                <h5><%= review.title %></h5>
                  <p><%= review.content %></p>
                  <% review.rating.times do  %>
                  <i class="fas fa-star" style="color: yellow"></i>
                  <% end %>
              </div>
              <hr>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
    <div class="col-4">
      <div id='flat-booking-dates' data-unavailable="<%= @collection.unavailable_dates.to_json %>">
          <% if current_user && current_user.id != @collection.user_id  %>
          <%= simple_form_for [ @collection, @booking ] do |f| %>
              <%= f.input :start_date, as: :string, type: :text %>
              <%= f.input :end_date, as: :string, type: :text %>
              <%= f.submit "Book", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="col-8">
      <% if user_signed_in? && !current_user.bookings.empty? && @existing_booking %>
        <%= render 'reviews/form', {booking: @existing_booking, review: @review} %>
      <% end %>
    </div>
  </div>
</div>





<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Art It</h3>

				<p class="footer-links">

					<a class="home">Home</a>
					·
					<a class="faq">Faq</a>
					·
					<a class="contact">Contact</a>
				</p>

				<p class="footer-company-name">Art It © Since 2020</p>

				<div class="footer-icons">

          <p class ="find">Find Us On</p>
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-linkedin"></i></a>
					<a href="#"><i class="fab fa-github"></i></a>

				</div>

			</div>

			<div class="footer-right">

				<p>About</p>

				<form action="#" method="post">



				</form>

			</div>

		</footer>




