
<div class="collection-description" style="width: 20rem; margin:0 auto;" >
    <div class="card horizontal">
    <h2 class="header"><%= @collection.title %></h2>
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= @collection.description %></p>
          <p><%= @collection.price %></p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>


<% @collection.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<br>

<p>Do you like it? Make a booking</p>

<div class="booking-form float-right" style="width: 18rem; margin-right: 20px">

<%= simple_form_for [ @collection, @booking ], :url => new_collection_booking_path(@collection), :method => :get do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.button :submit %>
    <% if @booking.errors.any? %>
      <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
  </div>
</div>