





<%= simple_form_for([ @collection, @booking ]) do |f| %>

  <%= f.input :start_date, as: :hidden %>
  <%= f.input :end_date, as: :hidden %>
  <%= f.input :total_price, as: :hidden %>
  <%= f.button :submit %>
    <% if @booking.errors.any? %>
      <div class="errors-container">
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
