

<div class="card" style="width:18rem;">

  <h2>Start date: <%= @booking.start_date %></h2>
  <h2>End date: <%= @booking.end_date %></h2>

  <h3>Total Price: <%= @booking.total_price %></h3>

  <%= render 'form' %>

</div>

<%= link_to "Back", collections_path(@collections) %>
