
<h2>My Collection</h2>

<% @collections.each do |my_collection| %>

<div class="card">

<%= my_collection.title %>
<%= my_collection.description %>
<%= my_collection.price %>
<% my_collection.photos.each do |photo| %>
</div>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<span><%= link_to 'delete', collection_path(my_collection), method: :delete %></span>
<span><%= link_to 'edit', edit_collection_path(my_collection) %></span>

<% end %>

<br>

<span><%= link_to 'Add', new_collection_path %></span>



