

<h2>My Collection</h2>

<% @collections.each do |my_collection| %>

<div class="card">

<%= my_collection.title %>
<%= my_collection.description %>
<%= my_collection.price %>
<% my_collection.photos.each do |photo| %>
</div>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<span><%= link_to 'delete', collection_path(my_collection), method: :delete %></span>
<span><%= link_to 'edit', edit_collection_path(my_collection) %></span>

<% end %>

<br>

<span><%= link_to 'Add', new_collection_path %></span>


<% @made_bookings.each do |booking| %>
  <p><%= booking.collection.title %></p>
  <p><%= booking.start_date %></p>
  <p><%= booking.end_date %></p>
  <% if booking.review.nil? %>
    <%= link_to "Review this booking", new_booking_review_path(booking)%>
  <% end %>
<% end %>



<% @received_bookings.each do |booking| %>
<p><%= booking.collection.title %></p>
<p><%= booking.start_date %></p>
<p><%= booking.end_date %></p>


<% unless booking.status == "accepted" || booking.status == "rejected" %>
<%= link_to 'accept', booking_accept_path(booking), method: :put %>
<%= link_to 'reject', booking_reject_path(booking), method: :put %>
<% end %>
<% end %>
