
<p>My Collection</p>

<% @collections.each do |my_collection| %>
<%= my_collection.title %>
<%= my_collection.description %>
<%= my_collection.price %>
<% my_collection.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<%= link_to 'delete', collection_path(my_collection), method: :delete %>
<%= link_to 'edit', edit_collection_path(my_collection) %>
<% end %>

<%= link_to 'Add', new_collection_path %>


<p>Made Bookings</p>

<% @made_bookings.each do |bookings| %>
<%= bookings.collection.user %>
<%= bookings.start_date %>
<%= bookings.end_date %>
<% end %>

<p>Received Bookings</p>

<% @received_bookings.each do |bookings| %>
<%= bookings.collection.title %>
<%= bookings.start_date %>
<%= bookings.end_date %>

<% unless bookings.status == "accepted" || bookings.status == "rejected" %>
<%= link_to 'accept', booking_accept_path(bookings), method: :put %>
<%= link_to 'reject', booking_reject_path(bookings), method: :put %>
<% end %>
<% end %>
