
<p>My Collection</p>

<% @collections.each do |my_collection| %>
<p><%= my_collection.title %></p>
<p><%= my_collection.description %></p>
<p><%= my_collection.price %></p>
<% my_collection.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% end %>

<%= link_to 'Add', new_collection_path %>


<p>Made Bookings</p>

<% @made_bookings.each do |booking| %>
  <p><%= booking.collection.title %></p>
  <p><%= booking.start_date %></p>
  <p><%= booking.end_date %></p>
  <% if booking.review.nil? %>
    <%= link_to "Review this booking", new_booking_review_path(booking)%>
  <% end %>
<% end %>

<p>Received Bookings</p>

<% @received_bookings.each do |booking| %>
<p><%= booking.collection.title %></p>
<p><%= booking.start_date %></p>
<p><%= booking.end_date %></p>
<% end %>
